    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background: #000000
    }
    
    ul li {
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 500;
    }
    
    .badge-pill input {
        outline: none;
        border: none;
        color: white;
        background: transparent;
        width: 40px;
    }
    
    .intro::placeholder {
        color: darkgreen;
        font-weight: 500;
    }
    
    .itembtn {
        font-size: 16px;
        font-weight: 500;
        outline: none;
        border: none;
        background-color: transparent;
        line-height: 2;
        color: #240c7c;
        width: 120px;
        text-align: left;
    }
    
    .input {
        border: none;
        background: transparent;
        height: 40px;
        outline: green;
        color: white;
    }
    
    .input::placeholder {
        color: lightgreen;
    }
    /* GrandTotal */
    /* Bill_Genrated */
    
    .invoice-title h2,
    .invoice-title h3 {
        display: inline-block;
    }
    
    .table>tbody>tr>.no-line {
        border-top: none;
    }
    
    .table>thead>tr>.no-line {
        border-bottom: none;
    }
    
    .table>tbody>tr>.thick-line {
        border-top: 2px solid;
    }
    /* Loader */
    
    @keyframes animation {
        0%,
        100% {
            animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55)
        }
        0% {
            transform: translate(0, 0)
        }
        50% {
            transform: translate(0, 76px);
            animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
        }
        100% {
            transform: translate(0, 0);
        }
    }
    
    .Animation_logo {
        /* position: absolute; */
        width: 80px;
        height: 100px;
        background: transparent;
        animation: animation 10s linear infinite;
    }