body {
    margin: 0;
    padding: 0;
    display: block;
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to bottom, #3400f1, #12004d);
    min-height: 100vh;
}

.graph {
    position: relative;
    margin: auto;
}